<div class="inner-sidenav-content">
  <div class="p-b-0">
    <div fxLayout="row" fxLayoutAlign="start center" class="primary-info-div flex-full">
      <mat-card class="primary-info-card flex-full">
        <mat-toolbar color="primary">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            {{'ADMIN.USERS.HEADER.TITLE' | translate:locale.language}}
          </div>
        </mat-toolbar>
        <mat-card-content>
          <ng-container *ngIf="!isLoading; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
            <ng-container *ngIf="userProfileList?.length > 0 then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <mat-nav-list>
                <mat-list-item *ngFor="let user of userProfileList">
                  <div mat-line>{{user.email}}</div>
                  <p mat-line>{{toJoinString(user.roles)}} </p>
                  <button mat-icon-button color="accent"
                    matTooltip="{{'ADMIN.CONFIG.BUTTON.EDIT' | translate:locale.language:{name: user.email} }}"
                    matTooltipPosition="above">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn"
                    matTooltip="{{'ADMIN.CONFIG.BUTTON.DELETE' | translate:locale.language:{name: user.email} }}"
                    matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </ng-template>
            <ng-template #elseTemplate>
              <app-no-data></app-no-data>
            </ng-template>
          </ng-template>
          <ng-template #elseTemplate>
            <app-component-loading></app-component-loading>
          </ng-template>
        </mat-card-content>
      </mat-card>
      <div class="fab-container">
        <button matTooltip="Add new config" matTooltipPosition="left" mat-fab class="fab-toggler"
          >
          <em class="material-icons">add</em>
        </button>
      </div>
    </div>
  </div>
</div>
