<div fxLayout="column" fxLayoutAlign="center start" class="file-upload">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      {{'ADMIN.PRODUCT.HEADER.TITLE' | translate:locale.language:{addOrEdit: addOrEditText} }}
    </div>
  </mat-toolbar>
  <form id=formId (ngSubmit)="submitHandler()" #refForm="ngForm" class="flex-full" [formGroup]="productForm">
    <div fxLayout="column" fxLayoutAlign="center start" class="flex-full inner-modal-content">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.NAME.TITLE' | translate:locale.language}}</mat-label>
              <input matInput formControlName="productName" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.NAME.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="rename-box" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.BUY_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput formControlName="buyPrice" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['buyPrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.BUY_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.VARIANT.TITLE' | translate:locale.language}}</mat-label>
              <input matInput formControlName="variant" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['variant'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.VARIANT.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="rename-box" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.VARIANT_NAME.TITLE' | translate:locale.language}}</mat-label>
              <input matInput formControlName="variantName" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['variantName'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.VARIANT_NAME.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="rename-box" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.ON_SALE_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput formControlName="onSalePrice" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['onSalePrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.ON_SALE_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-slide-toggle labelPosition="before" class="example-margin" color="accent" formControlName="onSale">
              {{'ADMIN.PRODUCT.FORM.ON_SALE.TITLE' | translate:locale.language}}
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.PARENT_ID.TITLE' | translate:locale.language}}</mat-label>
              <input matInput formControlName="parentId" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['parentId'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.PARENT_ID.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="identifier" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.SELLING_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput formControlName="sellingPrice" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['sellingPrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.SELLING_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.STOCK.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput formControlName="stockTotal" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['stockTotal'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.STOCK.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="stocking" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.WHOLE_SALE_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput formControlName="wholeSalePrice" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['wholeSalePrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.WHOLE_SALE_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-slide-toggle labelPosition="before" class="example-margin" color="accent" formControlName="isActive">
              {{'ADMIN.CONFIG.FORM.IS_ACTIVE.TITLE' | translate:locale.language}}
            </mat-slide-toggle>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.UNIT.TITLE' | translate:locale.language}}</mat-label>
              <input type="text" aria-label="Unit" matInput formControlName="unit" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let units of config.UNITS" [value]="units.unit">{{units.unit}}</mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="productForm.controls['unit'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.UNIT.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="flex-full m-b-20 p-r-20">
      <button mat-stroked-button color="primary" type="submit">SUBMIT</button>
      <button mat-stroked-button mat-dialog-close color="warn">CANCEL</button>
    </div>
  </form>
</div>
