<div fxLayout="column" fxLayoutAlign="center start" class="file-upload">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      {{'ADMIN.PRODUCT.HEADER.TITLE' | translate:locale.language:{addOrEdit: addOrEditText} }}
    </div>
  </mat-toolbar>
  <form id=formId (ngSubmit)="submitHandler()" #refForm="ngForm" class="flex-full">
    <div fxLayout="column" fxLayoutAlign="center start" class="flex-full inner-modal-content">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.NAME.TITLE' | translate:locale.language}}</mat-label>
              <input matInput [formControl]="productForm.controls['productName']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.NAME.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="rename-box" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.BUY_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput [formControl]="productForm.controls['buyPrice']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['buyPrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.BUY_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.VARIANT.TITLE' | translate:locale.language}}</mat-label>
              <input matInput [formControl]="productForm.controls['variant']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['variant'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.VARIANT.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="rename-box" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.VARIANT_NAME.TITLE' | translate:locale.language}}</mat-label>
              <input matInput [formControl]="productForm.controls['variantName']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['variantName'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.VARIANT_NAME.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="rename-box" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.ON_SALE_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput [formControl]="productForm.controls['onSalePrice']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['onSalePrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.ON_SALE_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-slide-toggle labelPosition="before" class="example-margin" color="accent"
              [formControl]="productForm.controls['onSale']">
              {{'ADMIN.PRODUCT.FORM.ON_SALE.TITLE' | translate:locale.language}}
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.PARENT_ID.TITLE' | translate:locale.language}}</mat-label>
              <input matInput [formControl]="productForm.controls['parentId']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['parentId'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.PARENT_ID.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="identifier" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.SELLING_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput [formControl]="productForm.controls['sellingPrice']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['sellingPrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.SELLING_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.STOCK.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput [formControl]="productForm.controls['stockTotal']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['stockTotal'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.STOCK.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="stocking" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-form-field class="flex-full" appearance="outline"
              [hideRequiredMarker]="dataHandler.showRequiredMarker">
              <mat-label>{{'ADMIN.PRODUCT.FORM.WHOLE_SALE_PRICE.TITLE' | translate:locale.language}}</mat-label>
              <input type="number" matInput [formControl]="productForm.controls['wholeSalePrice']" maxlength="50" required>
              <mat-error *ngIf="productForm.controls['wholeSalePrice'].hasError('required')">
                {{'ADMIN.PRODUCT.FORM.WHOLE_SALE_PRICE.TITLE' | translate:locale.language}}
                <strong> {{'COMMON.REQUIRED' | translate:locale.language}}</strong>
              </mat-error>
              <mat-icon matSuffix svgIcon="cash-100" color="primary"></mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center start"
        class="flex-full">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn flex-full">
          <div fxFlex="100">
            <mat-slide-toggle labelPosition="before" class="example-margin" color="accent"
              [formControl]="productForm.controls['isActive']">
              {{'ADMIN.CONFIG.FORM.IS_ACTIVE.TITLE' | translate:locale.language}}
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" class="flex-full m-b-20 p-r-20">
      <button mat-stroked-button color="primary" type="submit">SUBMIT</button>
      <button mat-stroked-button mat-dialog-close color="warn">CANCEL</button>
    </div>
  </form>
</div>
