<div class="inner-sidenav-content">
  <div class="p-b-0">
    <div fxLayout="row" fxLayoutAlign="start center" class="primary-info-div flex-full">
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <mat-card class="flex-full">
          <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon class="circle app-font size-35">tune</mat-icon>
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2px">
                  <span class="app-font size-35">54</span>
                  <span class="app-font size-12 family-lato">TOTAL CONFIG</span>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="flex-full">
          <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-icon class="circle app-font size-35">supervisor_account</mat-icon>
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2px">
                  <span class="app-font size-35">54</span>
                  <span class="app-font size-12 family-lato">TOTAL USERS</span>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
