<div class="inner-sidenav-content">
  <div class="p-b-0">
    <div fxLayout="row" fxLayoutAlign="start center" class="primary-info-div flex-full">
      <mat-card class="primary-info-card flex-full">
        <mat-toolbar color="primary">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            {{'ADMIN.PRODUCT_UNIT.HEADER.TITLE' | translate:locale.language}}
          </div>
        </mat-toolbar>
        <mat-card-content>
          <ng-template #serviceData>
            <ng-container *ngIf="productUnitList.length > 0 then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <mat-nav-list>
                <mat-list-item *ngFor="let productUnit of productUnitList;">
                  <mat-icon mat-list-icon>receipt_long</mat-icon>
                  <div mat-line>{{productUnit.name}}</div>
                  <p mat-line>{{productUnit.multiple}} {{productUnit.unit}} {{productUnit.multipleWith ? 'x ' : ''}} {{getMultipleWithName(productUnit.multipleWith)}}</p>
                  <button mat-icon-button color="accent" (click)="manageProductUnitDialog(productUnit)"
                    matTooltip="{{'ADMIN.PRODUCT_UNIT.BUTTON.EDIT' | translate:locale.language:{name: productUnit.name} }}"
                    matTooltipPosition="above" *ngIf="!productUnit.readOnly" >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteConfig(productUnit)"
                    matTooltip="{{'ADMIN.PRODUCT_UNIT.BUTTON.DELETE' | translate:locale.language:{name: productUnit.name} }}"
                    matTooltipPosition="above" *ngIf="!productUnit.readOnly">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </ng-template>
            <ng-template #elseTemplate>
              <app-no-data></app-no-data>
            </ng-template>
          </ng-template>
          <app-component-loading [type]="'circular'" [isLoading]="isLoading" [bodyTemplate]="serviceData"></app-component-loading>
        </mat-card-content>
      </mat-card>
      <div class="fab-container">
        <button matTooltip="Add new Product Unit" matTooltipPosition="left" mat-fab class="fab-toggler"
          (click)="manageProductUnitDialog()">
          <em class="material-icons">add</em>
        </button>
      </div>
    </div>
  </div>
</div>
